.App {
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(92, 37, 141, .75), rgba(67, 137, 162, .75));
}

h1 {
    border-left: 5px solid #e1e1e1;
    padding-left: 5px;
}

.wrapper {
    display: flex;
    flex: 1 0 1px;
    justify-content: center;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    flex: 1 0 1px;
    max-width: 400px;
}

li {
    position: relative;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    color: #666;
    background: white;
}

button {
    cursor: grab;
}

button:active {
    cursor: grabbing;
}

li:hover {
    background-color: #eee;
}

.placeholder {
    opacity: 0.2;
}

.icon {
    position: absolute;
    right: 15px;
    top: calc(50% - 10px);
    cursor: move;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAU0lEQVQ4T2NkoBAwUqifgWoGnGRgYDAj0TUgPRYwFxwHcUg04BgDA4M11bxAouUI5TAXUBwGJxgYGMxJdMYgC4MzDAwMxiR6ASUdDIMwINH7COUAalAMEcvSqK4AAAAASUVORK5CYII=");
    border: none;
    height: 16px;
    width: 16px;
    transition: all 500ms;
}
